<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link
      rel="stylesheet"
      href="/css/mobile/M-home.css"
      media="screen and (max-width: 699px)"
    />
    <link
      rel="stylesheet"
      href="/css/desktop/DT-home.css"
      media="screen and (min-width: 700px)"
    />
  </head>

  <body>
    <%- include("./partials/header")%>
    <main class="home-main">
      <img
        src="/img/team-manager-4x.png"
        alt="Pokemon Team Manager logo"
        id="home-logo"
      />
      <p class="site-description">
        Explore the Pokédex, create your trainer profile, and manage your
        Pokémon team!
      </p>
      <%if(!isLoggedIn) {%>
      <div class="home-buttons">
        <a href="/login">Log In</a>
        <p>- or -</p>
        <a href="/create-profile">Create a New Trainer Profile</a>
      </div>
      <%}%>
    </main>
    <%- include("./partials/footer")%>
  </body>
</html>
