<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link
      rel="stylesheet"
      href="/css/mobile/M-login.css"
      media="screen and (max-width: 699px)"
    />
    <link
      rel="stylesheet"
      href="/css/desktop/DT-login.css"
      media="screen and (min-width: 700px)"
    />
  </head>
  <body>
    <%- include("./partials/header") %>

    <h1>Log In</h1>
    <form action="/api/trainers/login" method="post" class="login-form">
      <div class="enter-username">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="username"
          required
        />
      </div>
      <div class="enter-password">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password"
          required
        />
      </div>
      <input type="submit" value="Log In" aria-label="Log in" />
    </form>
    <%- include("./partials/footer")%>
  </body>
</html>
