/************/
/* Homepage */
/************/

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#home-logo {
    margin-left: -40px;
    width: 90vw;
    max-width: 700px;
    height: auto;
}

.site-description {
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
}

.home-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-buttons p {
    font-size: 1.25rem;
    margin: 10px;
}

.home-buttons a {
    font-family: "Asap Condensed", sans-serif;
    background-color: var(--pokemon-blue);
    padding: 10px;
    color: white;
    font-size: 1.75rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

@media screen and (max-width: 885px) {
    .home-main {
        margin-top: 70px;
    }
}
/* 
@media screen and (max-width: 750px) {
    #home-logo {
    }
} */
