/*********************************/
/* Pokedex and Pokemon Selection */
/*********************************/

.search-box {
  margin-bottom: 2dvh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-box label {
  margin-right: 20px;
  font-size: 1.25rem;
}

.search-box input {
  font-family: "Asap Condensed", sans-serif;
  padding: 4px;
  font-size: 1rem;
  width: 195px;
}

.pokedex {
  display: grid;
  row-gap: 20px;
}

.pokedex-entry {
  width: 180px;
  height: 260px;
  border: solid var(--pokemon-blue) 5px;
  border-radius: 5px;
  text-align: center;
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform-style: preserve-3d;
  cursor: pointer;
}

.pokedex-entry > img {
  width: 180px;
  height: auto;
}

.pokedex-label {
  background-color: #cc0000;
  color: white;
  padding: 10px 15px;
  width: 100%;
}

.pokedex-entry h3 {
  text-align: left;
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.pokedex-entry h4 {
  text-align: right;
  margin: 0;
  font-style: italic;
  font-weight: 400;
}
