/*********************************/
/* Pokedex and Pokemon Selection */
/*********************************/

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 7;
    color: white;
    background-color: var(--pokemon-blue, blue);
}

.search-box {
    margin-bottom: 2dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 145px;
    width: 100%;
    height: 50px;
    background-color: var(--pokemon-blue, blue);
    z-index: 7;
}

.search-box label {
    margin-right: 20px;
    font-size: 1.25rem;
    color: white;
}

.search-box input {
    font-family: "Asap Condensed", sans-serif;
    padding: 4px;
    font-size: 1rem;
    width: 195px;
}

.pokedex {
    margin: 200px auto 30px auto;
    width: 94vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0;
}

.pokedex::after {
    width: 45vw;
    margin: 1vw;
    content: "";
}

.pokedex-entry {
    width: 45vw;
    height: 65vw;
    border: solid var(--pokemon-blue) 5px;
    border-radius: 5px;
    text-align: center;
    margin: 1vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform-style: preserve-3d;
    cursor: pointer;
}

.pokedex-entry > img {
    width: 45vw;
    height: auto;
}

.pokedex-label {
    background-color: #cc0000;
    color: white;
    padding: 10px 15px;
    width: 100%;
}

.pokedex-entry h3 {
    text-align: left;
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.pokedex-entry h4 {
    text-align: right;
    margin: 0;
    font-style: italic;
    font-weight: 400;
}
