/*********************/
/* Pokemon Inspector */
/*********************/

.pokemon-inspector {
    position: fixed;
    background-color: white;
    border: 5px solid var(--pokemon-blue);
    width: 100vw;
    height: 100dvh;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    padding: 20px;
    opacity: 0;
}

#close-inspector {
    width: 20px;
    height: auto;
    position: absolute;
    top: 1dvh;
    right: 1vw;
    cursor: pointer;
}

.pokemon-inspector-content {
    display: flex;
    flex-direction: column;
}

.pokemon-inspector-details {
    width: calc(100vw - 40px);
    height: calc(65dvh - 20px);
    display: flex;
    flex-direction: column;
}

/* .name-and-pic {
    display: flex;
    flex-direction: column;
} */

.name-and-pic img {
    width: 60vw;
    height: auto;
}

.name-and-pic p {
    margin-top: -20px;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
}

.name-and-pic h3 {
    font-size: 3rem;
    display: inline-block;
    margin: 0;
}

.name-and-pic h4 {
    font-size: 2rem;
    margin: 0;
}

.poke-info {
    width: calc(100vw - 40px);
    font-size: 1.25rem;
}

.types {
    height: 93px;
    position: absolute;
    top: 40px;
    right: 20px;
    width: calc(40vw - 40px);
}

.type {
    width: calc(40vw - 50px);
    margin-left: 10px;
}

.poke-info h4 {
    font-size: 1.25rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.moves {
    background-color: lightgray;
    padding: 10px;
    min-height: 140px;
    max-height: 140px;
    display: grid;
    width: calc(100vw - 40px);
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    grid-template-rows: repeat(auto-fill, minmax(1.5rem, auto));
    overflow-y: scroll;
}

.moves p {
    margin: 0 0 5px 0;
    font-size: 1rem;
}

.species-info {
    height: calc(35dvh - 20px);
    width: calc(100vw - 40px);
    overflow: hidden;
    border-top: 1px lightgray solid;
    padding-top: 20px;
}

.species-info-container {
    height: 30dvh;
    width: calc(100vw - 40px);
    margin: 0;
}

.species-label {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 5px;
    margin-top: 0;
}

.species-info h3 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.species-pokedex {
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
}

.species-info h4 {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 9px;
}

.owners-box {
    background-color: lightgray;
    padding: 10px;
    min-height: 140px;
    max-height: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-template-rows: repeat(auto-fill, minmax(1.5rem, auto));
    overflow-y: scroll;
}

#species-info-btn {
    display: none;
}

@media (min-aspect-ratio: 10/19) {
    .pokemon-inspector {
        position: absolute;
        height: auto;
    }

    .pokemon-inspector-content {
        height: 930px;
    }

    .pokemon-inspector-details {
        min-height: 598.15px;
    }

    .name-and-pic img {
        max-width: 300px;
    }
    .species-info {
        min-height: 312.84px;
    }
}
